.contain-img-profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #08fdd8;
    overflow: hidden;
    display: flex;
}

.group-table-aboutMe{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #09a890;
    font-family: 'Ubuntu';
    
    margin-bottom: 100px;

}

.group-table-aboutMe th {
    padding: 15px;
    text-align: center;
  }

  .group-table-aboutMe td{
    padding: 15px 8px;
    text-align: left;
  }

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 16px;
    background: #09a890;
    color: #FFFFFF;
  }

  tbody {
    display: block;
    height: 200px; /* Set desired fixed height */
    overflow-y: auto;
  }

  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}